<h1>My question</h1>

<p><%= @query %></p>

<h1>Coach answer</h1>

<%if @query.split("").last == "?"%>
   <p><%="Silly question, get dressed and go to work!"%></p>
<%elsif @query == "I am going to work right now!"%>
   <p><%=""%></p>
<%else%>
   <p><%="I don't care, get dressed and go to work!"%></p>
<%end %>

<%= link_to "Ask another question", ask_path %>
